USE [master]
GO
/****** Object:  Database [PruebaMVC]    Script Date: 07/05/2019 5:59:15 ******/
CREATE DATABASE [PruebaMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PruebaMVC.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PruebaMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PruebaMVC_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaMVC]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 07/05/2019 5:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[RealName] [varbinary](100) NULL,
	[Doc] [varbinary](max) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tb_Productos]    Script Date: 07/05/2019 5:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Productos](
	[IdProducto] [int] NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Precio] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[IdProvedor] [int] NOT NULL,
 CONSTRAINT [PK_Tb_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tb_Provedores]    Script Date: 07/05/2019 5:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Provedores](
	[IdProvedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Tb_Provedores] PRIMARY KEY CLUSTERED 
(
	[IdProvedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Tb_Productos]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Productos_Tb_Provedores] FOREIGN KEY([IdProvedor])
REFERENCES [dbo].[Tb_Provedores] ([IdProvedor])
GO
ALTER TABLE [dbo].[Tb_Productos] CHECK CONSTRAINT [FK_Tb_Productos_Tb_Provedores]
GO
USE [master]
GO
